<a-alert class="mt-m" type="warning">
    <h2>Alpha!</h2>
    Alta-UI it's still an alpha. <br>
    You can install and play with Alta-UI but be aware that it's not ready for production. <br>   There is untested code and the breaking changes are frequent.
    If you are only interested in the progress you can use this website to see the components and how implement them. <br>
  
</a-alert>


<h2 class="mt-m">Install</h2>
<code><pre>npm i alta-ui</pre></code>

<h2 class="mt-m">Import in project</h2>
<code><pre>import 'alta-ui/dist/alta-ui/alta-ui.esm.js';</pre></code>