<a [routerLink]="['/']" class="title" (click)="onMenuClick()">
  <h1>Alta UI</h1><i class="gg-bolt"></i>
</a>
<div class="search-container">
  <input type="text" placeholder="search"/>
</div>
<div class="menu-wrapper">
  <h3>General</h3>
  <ul>
    <li (click)="onMenuClick()" routerLinkActive="active">
      <a [routerLink]="['/get-started']" >Get Started</a>
    </li>
    <li (click)="onMenuClick()">Theming</li>
    <li (click)="onMenuClick()">Why Alta</li>
    <li (click)="onMenuClick()">Upgrade</li>
  </ul>
  <h3>Components</h3>
  <ul>
    <li>Accordition</li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/alert']">Alert</a></li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/avatar']">Avatar</a></li>
    <li>Breadcrumb</li>
    <li>Buttons</li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/card']">Card</a></li>
    <li>Carousel</li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/dropdown']">Dropdown</a></li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/image']">Image</a></li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/input-text']">Input text</a></li>
    <li>Input number</li>
    <li>Input password</li>
    <li>Input checkbox</li>
    <li>Input radio</li>
    <li>Input upload</li>
    <li>List</li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/modal']">Modal</a></li>
    <li>Pagination</li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/panel']">Panel</a></li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/progress']">Progress</a></li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/rating']">Rating</a></li>
    <li (click)="onMenuClick()" routerLinkActive="active"><a [routerLink]="['/table']">Table</a></li>
    <li>Tabs</li>
    <li>Tag</li>
    <li>Toast</li>
  </ul>
  <h3>Others</h3>
  <ul>
    <li>Changelog</li>
    <li>Donate</li>
    <li>Contribute</li>
  </ul>
</div>
