<a [routerLink]="['/']" class="title" (click)="onMenuClick()">
  <h1>Alta UI</h1><i class="gg-bolt"></i>
</a>
<div class="search-container">
  <input type="text" placeholder="search"/>
</div>
<div class="menu-wrapper">
  <h3>General</h3>
  <ul>
    <li (click)="onMenuClick()">
      <a [routerLink]="['/get-started']">Get Started</a>
    </li>
    <li (click)="onMenuClick()">Theming</li>
    <li (click)="onMenuClick()">Why Alta</li>
  </ul>
  <h3>Support</h3>
  <ul>
    <li>Donate</li>
    <li>Contribute</li>
  </ul>
  <h3>Components</h3>
  <ul>
    <li>Accordition</li>
    <li (click)="onMenuClick()"><a [routerLink]="['/alert']">Alert</a></li>
    <li>Avatar</li>
    <li>Breadcrumb</li>
    <li>Buttons</li>
    <li>Card</li>
    <li>Carousel</li>
    <li>Image</li>
    <li>Input text</li>
    <li>Input number</li>
    <li>Input password</li>
    <li>Input checkbox</li>
    <li>Input radio</li>
    <li>Input upload</li>
    <li>List</li>
    <li (click)="onMenuClick()"><a [routerLink]="['/modal']">Modal</a></li>
    <li>Pagination</li>
    <li>Panel</li>
    <li>Progress</li>
    <li>Rating</li>
    <li>Table</li>
    <li>Tabs</li>
    <li>Tag</li>
    <li>Toast</li>
  </ul>
</div>
