<a-card class="mt-m">
  <h1 slot="header">Accordion</h1>
</a-card>

<a-accordion>
  <a-accordion-tab header='Header' index='1'>
    content 1
  </a-accordion-tab>
  <a-accordion-tab header='Header 2' index='2'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </a-accordion-tab>
  <a-accordion-tab header='Header 3' index='3'>
    last
  </a-accordion-tab>
</a-accordion>
