<a-card class="mt-m">
  <h1 slot="header">Dropdown</h1>
</a-card>

<a-dropdown placeholder="select"
            [options]="options"
            [showclear]="true"
            (selectChanged)="onSelect($event)"
            [selected]="selectedCountry"
></a-dropdown>

<a-tabset class="mt-l" selected="0">
  <a-tab header="Code" index="0">
    <code>
    <pre>&lt;a-dropdown
      placeholder="select"
      options="options"
      selected="selectedCountry">
&lt;/a-dropdown></pre>
    </code>
  </a-tab>
  <a-tab header="API" index="1">
    <h3>Properties</h3>
    <a-table scrollable="true" [columns]="cols" [data]="data"></a-table>
    <h3>Events</h3>

  </a-tab>
  <a-tab header="Style" index="2">
    <a-table class="mt-l" scrollable="true" [columns]="styleCols" [data]="styleData"></a-table>
  </a-tab>
</a-tabset>
