<a-card class="mt-m">
  <h1 slot="header">Input Text</h1>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  ullamco laboris nisi ut aliquip ex ea commodo consequat.
</a-card>

<a-input [value]="inputValue" (valueChanged)="onChange($event)"></a-input>


<a-tabset selected="0" class="mt-l">
  <a-tab header="Code" index="0">
    <code>
      <pre>&lt;a-input value="inputValue">&lt;/a-input></pre>
    </code>
  </a-tab>
</a-tabset>