<a-card class="mt-m">
  <h1 slot="header">Alert</h1>
  Provides contextual feedback messages for typical user actions with the handful of available and flexible alert
  messages.The easiest way to add an alerts component to your app.
</a-card>

<a-alert class="mt-l" type="info">
  <h3>Type info</h3>
  <p>some content</p>
</a-alert>
<a-alert class="mt-s" type="danger">
  <h3>Type danger</h3>
  Alta UI doesn't support IE
</a-alert>
<a-alert class="mt-s" type="success">
  <h3>Type success</h3>
  Type success
</a-alert>
<a-alert class="mt-s" type="warning">
  <h3>Type warning</h3>
  Type warning
</a-alert>

<a-card class="mt-l">
  <h3 slot="header">Code</h3>
  <code><pre>&lt;a-alert type="warning">
  Type warning
&lt;/a-alert></pre>
  </code>
</a-card>

<a-card class="mt-l">
  <h3 slot="header">API</h3>
</a-card>


<a-card>
  <h3 slot="header">Style</h3>
  <a-list [items]="cssValiables"></a-list>
</a-card>
