<a-card class="mt-m">
  <h2 slot="header">Avatar</h2>
  Provides contextual feedback messages for typical user actions with the handful of available and flexible alert
  messages.The easiest way to add an alerts component to your app.
</a-card>

<a-avatar label="M" size="l" class="mr-m"></a-avatar>
<a-avatar label="M" size="m" class="mr-m"></a-avatar>
<a-avatar label="M" size="s"></a-avatar>
<hr/>
<a-avatar size="l" class="mr-m" image="https://primefaces.org/primeng/assets/showcase/images/demo/avatar/asiyajavayant.png"></a-avatar>
<a-avatar size="m" class="mr-m" image="https://primefaces.org/primeng/assets/showcase/images/demo/avatar/asiyajavayant.png"></a-avatar>
<a-avatar size="s" image="https://primefaces.org/primeng/assets/showcase/images/demo/avatar/asiyajavayant.png"></a-avatar>

<a-tabset selected="0" class="mt-l">
  <a-tab header="Code" index="0">
    <h3 class="mt-m">Label Avatar</h3>
    <code>
      <pre>&lt;a-avatar label="M">&lt;/a-avatar></pre>
    </code>
    <h3 class="mt-m">Photo Avatar</h3>
    <code>
      <pre>&lt;a-avatar image="/my-image.png">&lt;/a-avatar></pre>
    </code>
  </a-tab>
  <a-tab header="API" index="1">
    <h3 class="mt-m">Properties</h3>
    <a-table class="mt-s" scrollable="true" [columns]="cols" [data]="data"></a-table>
  </a-tab>
  <a-tab header="Style" index="2">
    no style
  </a-tab>
</a-tabset>
