<a-card class="mt-m">
  <h1 slot="header">Modal</h1>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
  ullamco laboris nisi ut aliquip ex ea commodo consequat.
</a-card>

<a-button (click)="isVisible = true" text="Show Modal"></a-button>


<a-tabset selected="0" class="mt-l">
  <a-tab header="Code" index="0">
    <code><pre>&lt;a-modal visible="true">
  &lt;div slot="header">&lt;/div>
  &lt;div slot="body">&lt;/div>
  &lt;div slot="footer">&lt;/div>
&lt;/a-modal></pre>
    </code>
  </a-tab>
  <a-tab header="API" index="1">
    selected
  </a-tab>
  <a-tab header="Style" index="2">

  </a-tab>
</a-tabset>












<a-modal [visible]="isVisible">
  <div slot="header">Title</div>
  <div slot="body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <div slot="footer" style="display: flex; justify-content: space-between;">
    <a-button id=close text="Cancel" type="outline" (click)="isVisible = false"></a-button>
    <a-button text="agree" (click)="isVisible = false"></a-button>
  </div>
</a-modal>
