/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--alta-font-color);
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #eff3f8;
  display: flex;
  flex-grow: 1;
  height: 100vh;
  overflow-x: hidden;
}

router-outlet + * {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  padding-bottom: 4rem;
}

:root {
  --sidebar-width: 250px;
  --nav-height: 56px;
  // alta
  --alta-primary-color: #073b4c;
  --alta-font-color: #073b4c;
  --alta-border-radius: 0.25rem;
  --alta-border: 1px solid #dfdfdf;
  --alta-progress-value: #abe2bb;
  --alta-progress-background: #f3f3f3;
  --alta-focus-color: #118ab2;
  --alta-danger-bg: #ef8181;
  --alta-danger-color: white;
  --alta-success-bg: #86f3ad;
  --alta-success-color: white;
  --alta-warning-bg: #fff4b4;
  --alta-warning-color: #444;
}

code {
  display: block;
  padding: 1rem;
  margin: .5rem 0;
  background-color: #444;
  border-radius: 0.25rem;
  overflow-x: auto;
}

pre {
  font-family: monospace;
  padding: .25rem;
  font-size: .9rem;
  color: white;
}

hr {
  margin: 2rem 0;
  border: none;
  background-color: transparent;
}

// alta-ui
a-card {
  margin: 0 0 3rem;
  --card-shadow: none;
  --alta-border: none;
}

a-table {
  background-color: white;
}

a-tabset {
  --tabs-background-color: #ffffff00;
  --tab-selected-color: black;
  --tab-color: rgba(18, 51, 111, 0.6);
  --tab-content-padding: 2rem 0;
  --tab-font-size: 1rem;
  --alta-border: 1px solid transparent;
  --selected-border-bottom: .25rem solid #073b4c;
}

a-tabset {
  a-table {
    --table-background-color: white;
    --table-head-background: #ffffff;
    --table-cell-padding: 0.5rem;
    border-radius: .25rem;
  }
}

// utils

.h3 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.bg-w {
  background-color: white;
}

.mt-s {
  margin-top: 1rem;
}

.mt-m {
  margin-top: 2rem;
}

.mt-l {
  margin-top: 4rem;
}

.mr-m {
  margin-right: 1rem;
}

@media screen and (max-width: 960px) {
  .mt-s {
    margin-top: .5rem;
  }
  .mt-m {
    margin-top: 1rem;
  }
  .mt-l {
    margin-top: 2rem;
  }
}
