/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--alta-font-color);
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #eff3f8;
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

router-outlet + * {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
:root {
  --sidebar-width: 250px;
  --nav-height: 56px;
}
